.container {
    display: flex;
    align-items: center;
}
.text {
    font-size: 16px;
    color: #2b2525;
    font-weight: 500;
}
.text:first-child{
    margin-right: 5px;
}
.textActive {
   color: rgb(212, 48, 89);
}
.btn {
    border: none;
    border-radius: 8px;
    background-color: rgb(73, 73, 184);
    color: #ffffff;
    padding: 4px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(94, 94, 184);
}
