html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

